* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

/* Колір для логотіпу */
.logo__color {
    color: #4BCAFF;
}

/* правий строук для елемента у хедері */
.border__type {
    border-right: 1px solid white ;
}

/* стилі задля хедера */
.header__items {
    padding-top: 63px;
    row-gap: 40px;
}
.main__logo {
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px;
    color: black;
    }
.header__menu {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    background-color: #35444F;
}
.menu__items {
    display: inline-block;
    padding: 21px 40px;
    border-left: 1px solid white ;
}
.items__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
    color: #ffffff;
}
.menu__items:hover {
    background: #222F3A;
    transition: 0,8ms;
}

/* Редагування виглядку основного контенту */
.content {
    margin-top: 48px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/* стилі задля бокового меню */
.side__list {
    width:calc(29% - 26px);
    margin: 0 0 auto 0;
    border: 1px solid black;
}
.side-list__items {
    padding: 26px 0px 26px 44px;
}
.side-list__link {
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #495863;
}
.side-list__items:hover {
    background: #DBDBDB;
    padding: 26px 0px 26px 80px; ;
    color: #000;
}
.side-list__link:hover {
    color: #000;
}

/* Редагування Секції */
.content__info {
    width:calc(71% - 26px);
    margin-bottom: 51px;
}

/* Редагування картинки */
.content__image {
    text-align: center;
    padding: 74px 282px;
    border: 1px solid black;
    margin-bottom: 37px;
}
.text__image:hover {
    transform: scale(1.3);
    transition: ease-in-out 300ms;
}

/* Редагування текста */
.content__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #2C2C2C;
}

/* Стилі задля футера */
.footer__information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #63696E7A;
}
.footer__list {
    display: flex;
    width: 875px;
    justify-content: space-between;
}
.footer__link {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #010101;
}
.footer__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #010101;
}
.footer__link:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}
